@import "./variables.css";
@import "./ui/counter.css";

.basket_container {
  display: flex;
  flex-direction: column;
  padding: 0px 16px;
}

.basket_empty {
  font: var(--font-bold-20-28);
  color: var(--color-black);
}

.basket_title {
  font: var(--font-bold-20-28);
  margin-bottom: 16px;
}

.basket_checkboxWrap {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 11px;
  margin-bottom: 16px;
}

.basket_checkbox {
  appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid var(--color-rulers-input);
  cursor: pointer;
}

.basket_productCheckbox {
  appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 6px;
  background-color: var(--color-white);
  border: 1px solid var(--color-rulers-input);
  position: absolute;
  z-index: 2;
  top: 4px;
  left: 4px;
  cursor: pointer;
}

.basket_checkboxLabel {
  font: var(--font-regular-16-24);
  flex-grow: 1;
  color: var(--color-black);
}

.basket_separator {
  width: 100%;
  height: 1px;
  background-color: var(--color-rulers);
  margin-bottom: 12px;
}

input[type="checkbox"]:checked {
  background-color: var(--color-accent);
  border: none;
  content: url(../images/icons/icon-checkbox.svg);
}

.basket_dropdownButton {
  padding: 0 4px;
  cursor: pointer;
}

.basket_dropdownButton-closed {
  transform: rotate(180deg);
}

.basket_products {
  margin-bottom: 32px;
}

.basket_productsItem {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 24px minmax(82px, auto) 1fr;
  grid-template-areas:
    "img price"
    "img caption"
    "btns btns"
    "separator separator";
  column-gap: 16px;
  align-items: start;
  margin-bottom: 12px;
  align-items: start;
}

.basket_productSeparator {
  width: 100%;
  height: 1px;
  background-color: var(--color-rulers);
  margin-top: 16px;
  grid-area: separator;
}

.basket_productBtns {
  grid-area: btns;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 12px;
  align-items: center;
}

.basket_productCaption {
  grid-area: caption;
}

.basket_productCaptionSize {
  display: none;
}

.basket_productCaptionProvider {
  color: var(--color-gray);
  font: var(--font-regular-13-16);
  display: none;
}

.basket_productImg {
  grid-area: img;
}

.basket_productImgWrap {
  position: relative;
}

.basket_productSize {
  position: absolute;
  z-index: 2;
  bottom: 4px;
  left: 4px;
  width: fit-content;
  height: 22px;
  padding: 0px 4px 2px 4px;
  font: var(--font-regular-14-20);
  background-color: var(--color-white);
  border-radius: 6px;
}

.basket_productPrice {
  grid-area: price;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: baseline;
  align-self: stretch;
  padding-bottom: 4px;
  position: relative;
}

.basket_priceTooltip {
  display: flex;
  flex-direction: column;
  padding: 11px 16px 13px 16px;
  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.30), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  width: 239px;
  position: absolute;
  top: 50px;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}

.basket_priceTooltipDiscount, .basket_priceTooltipPersonalDiscount {
  display: flex;
  justify-content: space-between;
  font: var(--font-regular-13-16);
  color: var(--color-system-gray);
  gap: 8px;
}

.basket_productActualPrice {
  font: var(--font-bold-16-24);
  color: var(--color-black);
  letter-spacing: 0px;
  display: flex;
  gap: 6px;
  align-items: baseline;
}

.basket_productOldPrice {
  color: var(--color-gray);
  font: var(--font-regular-13-16);
  font-style: normal;
  border-bottom: 1px dashed currentColor;
  text-decoration: line-through;
  cursor: pointer;
}

.basket_productCaptionName {
  color: var(--color-black);
  font: var(--font-regular-14-20);
  font-style: normal;
  padding: 2px 0 0 0;
  margin-bottom: 8px;
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.basket_productCaptionColor {
  font: var(--font-regular-13-16);
  color: var(--color-black);
  padding-bottom: 8px;
}

.basket_productCaptionStore {
  font: var(--font-regular-13-16);
  color: var(--color-gray);
}

.basket_productCounter {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  border-radius: 8px;
  height: 32px;
  text-align: center;
  padding: 7px;
  justify-content: space-between;
}

.basket_counterMinus {
  font: var(--font-regular-20-24);
  letter-spacing: -0.2px;
  align-content: center;
  cursor: pointer;
  padding-bottom: 5px;
}

.basket_counterMinus:disabled {
  color: var(--color-rulers-input);
}

.basket_counterPlus:disabled {
  color: var(--color-rulers-input);
}

.basket_counterAmount {
  font: var(--font-regular-14-20);
}

.basket_counterPlus {
  font: var(--font-regular-20-24);
  letter-spacing: -0.2px;
  align-self: center;
  cursor: pointer;
  padding-bottom: 5px;
}

.basket_productRemains {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font: var(--font-regular-13-16);
  color: var(--color-red);
}

.basket_productFavourite {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.basket_productFavourite:hover path {
  fill: var(--color-accent);
}

.basket_productDelete {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.basket_productDelete:hover path {
  fill: var(--color-orange);
}

.basket_productBtnWrap {
  display: flex;
  gap: 24px;
  padding-right: 12px;
  padding-left: 12px;
}

.basket_absentTitleWrap {
  display: flex;
  margin-bottom: 16px;
}

.basket_absentTitle {
  font: var(--font-semibold-16-24);
  flex-grow: 1;
}

.basket_absentInfo {
  display: flex;
  margin-bottom: 12px;
}

.basket_absentCaption {
  margin-left: 16px;
  width: 100%;
}

.basket_absentImgWrap {
  position: relative;
}

.basket_absentImg {
  max-width: 80px;
  filter: grayscale(1);
}

.basket_absentCaptionName {
  font: var(--font-regular-14-20);
  color: var(--color-gray);
  margin-bottom: 8px;
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.basket_absentCaptionColor {
  font: var(--font-regular-13-16);
  color: var(--color-gray);
}

.basket_absentProductSeparator {
  width: 100%;
  height: 1px;
  background-color: var(--color-rulers);
  margin-bottom: 12px;
}

.basket_absentBtns {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  padding: 0 4px 18px 0;
}

.basket_absentProducts {
  margin-bottom: 14px;
}

.basket_delivery {
  background-color: var(--color-white);
  padding: 16px 16px 24px 16px;
  border-radius: 16px;
  margin-bottom: 12px;
}

.basket_deliveryTitleWrap {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.basket_deliveryTitle {
  flex-grow: 1;
  font: var(--font-bold-20-28);
  letter-spacing: -0.2px;
}

.basket_deliveryChanger {
  cursor: pointer;
  font: var(--font-bold-16-24);
  color: var(--color-accent);
}

.basket_deliveryContentWrap {
  display: grid;
}

.basket_deliveryPickpoint {
  margin-bottom: 16px;
}

.basket_deliveryPickpointTitle {
  font: var(--font-semibold-16-24);
}

.basket_deliveryPickpointAddress {
  font: var(--font-regular-16-24);
  margin-bottom: 4px;
}

.basket_deliveryPickpointRatingWrap {
  display: flex;
  font: var(--font-regular-13-16);
}

.basket_deliveryPickpointWorktime {
  padding-left: 8px;
}

.basket_deliveryPickpointRating {
  padding-left: 4px;
}

.basket_deliveryCost {
  margin-bottom: 16px;
}

.basket_deliveryCostTitle {
  font: var(--font-semibold-16-24);
}

.basket_deliveryCostValue {
  font: var(--font-regular-16-24);
}

.basket_deliverySupply {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
}

.basket_deliverySupplyTitle {
  font: var(--font-semibold-16-24);
  margin-bottom: 12px;
}

.basket_deliverySupplyProducts {
  display: flex;
  gap: 8px;
}

.basket_deliverySupplyItem {
  height: 56px;
  border-radius: 8px;
}

.basket_deliverySupplyItemWrap {
  position: relative;
}

.ui_counter.basket_deliveryCounter {
  top: -8px;
  right: -2px;
}

.basket_tooltipWrap {
  display: flex;
  padding: 0 8px;
  gap: 8px;
  position: relative;
}

.basket_tooltipCaption {
  font: var(--font-regular-13-16);
  width: 242px;
}

.basket_tooltipCaption-underlined {
  color: var(--color-green);
  border-bottom: 1px dashed currentColor;
}

.basket_deliveryTooltip {
  position: absolute;
  background-color: var(--color-white);
  border-radius: 8px;
  height: 56px;
  width: 288px;
  padding: 10px 16px 14px 16px;
  font: var(--font-regular-13-16);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.30), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  top: 32px;
  left: 12px;
  transition: all 0.2s;
  opacity: 0;
  visibility: hidden;
}

.basket_payment {
  background-color: var(--color-white);
  border-radius: 16px;
  padding: 16px 16px 24px 16px;
  margin-bottom: 12px;
}

.basket_paymentTitle {
  font: var(--font-bold-20-28);
  flex-grow: 1;
}

.basket_paymentChanger {
  font: var(--font-bold-16-24);
  color: var(--color-accent);
  cursor: pointer;
}

.basket_paymentTitleWrap {
  display: flex;
  margin-bottom: 8px;
  align-items: flex-end;
}

.basket_paymentCard {
  display: flex;
  align-items: center;
  font: var(--font-regular-16-24);
  margin-bottom: 8px;
}

.basket_paymentCardNumber {
  margin-right: 12px;
}

.basket_paymentSystem {
  background-color: var(--color-smoky);
  width: 32px;
  height: 24px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.basket_paymentAnnotation {
  font: var(--font-regular-13-16);
  color: var(--color-gray);
}

.basket_reciever {
  background-color: var(--color-white);
  padding: 16px 16px 24px 16px;
  border-radius: 16px;
  font: var(--font-regular-16-24);
  margin-bottom: 16px;
}

.basket_recieverTitle {
  font: var(--font-bold-20-28);
  margin-bottom: 8px;
}

.basket_recieverContent {
  display: grid;
  row-gap: 16px;
  grid-auto-rows: minmax(56px, auto);
}

.basket_inputNameWrap {
  display: grid;
  row-gap: 16px;
  grid-auto-rows: minmax(56px, auto);
}

.basket_inputPhoneWrap {
  display: grid;
  row-gap: 16px;
  grid-auto-rows: minmax(56px, auto);
}

.basket_recieverInputWrap {
  border-bottom: 1px solid var(--color-rulers-input);
  margin: 13px 0px 13px 0px;
  padding-bottom: 3px;
  position: relative;
}

.basket_recieverInput {
  height: 24px;
}

.basket_recieverPlaceholder {
  position: absolute;
  bottom: 0px;
  left: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  color: var(--color-system-gray);
}

.basket_recieverErrorMessage {
  position: absolute;
  font: var(--font-regular-12-14);
  padding-top: 4px;
  bottom: -20px;
}

.basket_recieverInput:focus + .basket_recieverPlaceholder,
.basket_recieverInput:not(:placeholder-shown) + .basket_recieverPlaceholder {
  transform: translateY(-26px);
  font: var(--font-regular-12-14);
}

.basket_recieverInput::placeholder {
  color: transparent;
}

.basket_recieverInputWrap:last-child {
  margin-bottom: 16px;
}

@media screen and (min-width: 1024px) {
  .basket {
    margin-right: 32px;
    padding: 0px;
    width: 100%;
  }

  .basket_container {
    padding: 12px 0px;
  }

  .basket_title {
    font: var(--font-bold-28-36);
    letter-spacing: -0.28px;
    margin-bottom: 27px;
  }

  .basket_productsItem {
    display: grid;
    grid-template-columns: 106px  auto 100px 110px;
    grid-template-rows: minmax(96px, auto) 1fr;
    grid-template-areas: "img caption btns price";
    column-gap: 16px;
    align-items: start;
    margin-bottom: 16px;
    align-items: start;
    margin-bottom: 32px;
  }
  .basket_productsItem:last-child {
    margin-bottom: 0;
  }

  .basket_products {
    margin-bottom: 40px;
  }

  .basket_productBtns {
    flex-direction: column;
    padding: 0;
    align-items: end;
    gap: 8px;
  }

  .basket_productPrice {
    flex-direction: column;
    align-items: end;
    width: 110px;
  }

  .basket_productSize {
    display: none;
  }

  .basket_productCaptionSize {
    display: block;
  }

  .basket_productCaptionProvider {
    display: flex;
    gap: 6px;
    align-items: center;
    position: relative;
  }

  .basket_productCaptionColor {
    display: flex;
    gap: 16px;
  }

  .basket_productSeparator {
    display: none;
  }

  .basket_productCaptionStore {
    padding-bottom: 2px;
  }

  .basket_productProviderBtn {
    cursor: pointer;
    
  }

  .basket_dropdownButton {
    padding: 0;
  }

  .basket_productImgWrap {
    padding-left: 34px;
  }


  .basket_deliverySupply {
    flex-direction: row;
  }


  .basket_productImg,
  .basket_absentImg {
    width: 72px;
    height: 96px;
  }

  .basket_productCheckbox {
    top: 37px;
    left: 0px;
  }

  .basket_absentCaption {
    width: 309px;
  }

  .basket_absentProductSeparator {
    display: none;
  }

  .basket_productCaptionName {
    overflow: unset;
    display: flex;
    -webkit-box-orient: unset;
    font: var(--font-regular-16-24);
    padding: 0;
    width: 252px;
  }

  .basket_absentCaptionName {
    overflow: unset;
    display: flex;
    -webkit-box-orient: unset;
    font: var(--font-regular-16-24);
    padding: 0;
    width: 302px;
  }

  .basket_absentItem {
    display: flex;
    align-items: flex-start;
  }

  .basket_productBtnWrap {
    padding: 0;
    gap: 16px;
  }

  .basket_productCounter {
    padding: 8px 10px 12px 12px;
    width: 100px;
    height: 44px;
  }

  .basket_counterMinus,
  .basket_counterPlus {
    font: var(--font-regular-20-24);
  }

  .basket_counterAmount {
    font: var(--font-regular-16-24);
  }

  .basket_productRemains {
    align-self: flex-start;
  }

  .basket_absentBtns {
    gap: 16px;
    margin-right: 126px;
  }

  .basket_absentItem {
    margin-bottom: 20px;
    justify-content: space-between;
  }

  .basket_absentCaptionColor {
    display: flex;
    gap: 16px;
  }

  .basket_deliveryTitle,
  .basket_paymentTitle,
  .basket_recieverTitle {
    font: var(--font-bold-24-32);
  }

  .basket_delivery {
    padding: 16px 24px 24px 24px;
  }

  .basket_deliveryTitleWrap {
    margin-bottom: 16px;
  }

  .basket_deliveryContentWrap {
    display: flex;
    flex-direction: column;
  }

  .basket_deliveryPickpoint,
  .basket_deliverySupply,
  .basket_deliveryCost {
    display: flex;
    margin-bottom: 16px;
  }

  .basket_deliveryPickpointTitle {
    margin-right: 78px;
  }

  .basket_deliveryCostTitle {
    margin-right: 32px;
  }

  .basket_deliverySupplyTitle {
    margin-right: 82px;
  }

  .basket_deliveryTooltip {
    top: 32px;
    left: 240px;
    transition: all 0.2s;
    opacity: 0;
    visibility: hidden;
  }

  .basket_tooltipWrap {
    padding: 8px 0 0 0;
    align-items: center;
  }

  .basket_tooltipCaption {
    width: 100%;
  }

  .basket_payment {
    padding: 16px 24px 24px 24px;
  }

  .basket_paymentTitleWrap {
    margin-bottom: 16px;
  }

  .basket_reciever {
    padding: 16px 24px 8px 24px;
    margin-bottom: 0;
  }

  .basket_recieverTitle {
    margin-bottom: 16px;
  }

  .basket_recieverContent {
    grid-template-rows: 1fr 1fr;
    row-gap: 12px;
  }

  .basket_inputNameWrap {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 56px;
    height: fit-content;
    column-gap: 24px;
  }

  .basket_inputPhoneWrap {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-rows: minmax(56px, auto);
    column-gap: 24px;
    align-items: end;
  }

  .basket_recieverContent {
    margin-bottom: 24px;
    max-width: 700px;
  }

  .basket_recieverInputWrap:last-child {
    margin-bottom: 13px;
  }

  .basket_providerTooltip {
    position: absolute;
    z-index: 5;
    color: var(--color-black);
    background-color: var(--color-white);
    padding: 11px 16px 13px 16px;
    border-radius: 8px;
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.30)) drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
    display: flex;
    flex-direction: column;
    gap: 8px;
    top: 21px;
    width: 280px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
  }

  .basket_productProviderBtn:hover > .basket_providerTooltip {
    opacity: 1;
  }

  .basket_providerName {
    font: var(--font-bold-13-16);
  }

  .basket_providerOgrn, .basket_providerAddress {
    font: var(--font-regular-13-16);
  }

  .basket_priceTooltip {
    display: flex;
    flex-direction: column;
    padding: 11px 16px 13px 16px;
    background-color: var(--color-white);
    border-radius: 8px;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.30), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    width: 239px;
    position: absolute;
    top: 50px;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
  }

  .basket_priceTooltipDiscount, .basket_priceTooltipPersonalDiscount {
    display: flex;
    justify-content: space-between;
    font: var(--font-regular-13-16);
    color: var(--color-system-gray);
    gap: 8px;
  }

  

  .basket_priceTooltipDiscountValue, .basket_priceTooltipPersonalDiscountValue {
    color: var(--color-black);
  }

  .basket_priceTooltipDiscount {
    padding-bottom: 8px;
  }
}

@media screen and (min-width: 1400px) {

}
