@import "./variables.css";

.charge {
  padding: 8px 16px 16px 16px;
}

.chargeTitle {
  display: flex;
  justify-content: space-between;
  font: var(--font-bold-20-28);
  letter-spacing: -0.2px;
  margin-bottom: 8px;
}

.chargeAmount {
  display: flex;
  gap: 6px;
  align-items: flex-end;
}

.charge_caption {
  font: var(--font-regular-16-24);
  margin-bottom: 16px;
}

.charge_delivery {
  display: none;
}

.charge_captionProducts,
.charge_captionDiscount,
.charge_captionDelivery {
  display: flex;
  justify-content: space-between;
}

.charge_tooltipWrap {
  display: flex;
  background-color: var(--color-smoky);
  padding: 8px 8px 12px 8px;
  border-radius: 8px;
  margin-bottom: 16px;
  position: relative;
}

.charge_correctBtn {
  cursor: pointer;
}

.charge_correctBtn:hover path {
  fill: var(--color-orange);
}

.charge_tooltipCaption {
  margin-left: 8px;
}

.charge_tooltipCaption {
  font: var(--font-regular-13-16);
  width: 242px;
}

.charge_tooltipCaption-underlined {
  color: var(--color-green);
  border-bottom: 1px dashed currentColor;
}

.charge_payment {
  display: none;
}

.charge_checkboxBlock {
  display: flex;
  background-color: var(--color-smoky);
  padding: 8px 8px 12px 8px;
  border-radius: 8px;
  margin-bottom: 16px;
  flex-direction: column;
}

.charge_checkbox {
  appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid var(--color-rulers-input);
  cursor: pointer;
}

.charge_checkbox:checked {
  background-color: var(--color-accent);
  border: none;
  content: url(../images/icons/icon-checkbox.svg);
}

.charge_checkboxLabel {
  font: var(--font-regular-13-16);
  margin-left: 8px;
}

.charge_checkboxWrap {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.charge_checkboxCaption {
  font: var(--font-regular-13-16);
}

.charge_button {
  background-color: var(--color-accent);
  color: var(--color-white);
  font: var(--font-bold-16-24);
  height: 44px;
  padding: 7px 32px 12px;
  width: 100%;
  border-radius: 8px;
  margin: 8px 0 12px;
}

.charge_notificationWrap {
  display: flex;
  align-items: flex-start;
}

.charge_notification {
  margin-left: 8px;
  font: var(--font-regular-13-16);
  width: 90%;
}

.charge_notification-underlined {
  border-bottom: 1px solid var(--color-rulers);
  font: var(--font-regular-13-16);
  color: currentColor;
}

.charge_deliveryTooltip {
  position: absolute;
  background-color: var(--color-white);
  border-radius: 8px;
  height: 56px;
  width: 288px;
  padding: 10px 16px 14px 16px;
  font: var(--font-regular-13-16);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.30), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  top: 48px;
  left: -16px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}

@media screen and (min-width: 1024px) {
  .charge {
    background-color: var(--color-white);
    border-radius: 16px;
    width: 303px;
    height: fit-content;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3),
      0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  }

  .charge {
    padding: 16px 24px 24px 24px;
  }

  .chargeTitle {
    font: var(--font-bold-24-32);
  }

  .chargeAmount {
    display: flex;
    gap: 6px;
    align-items: flex-end;
  }

  .chargeCurrency {
    font: var(--font-bold-20-28);
  }

  .charge_caption {
    margin-bottom: 24px;
  }

  .charge_delivery {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 12px;
  }

  .charge_deliveryTitleWrap {
    display: flex;
    justify-content: space-between;
  }

  .charge_deliveryTitle {
    font: var(--font-bold-16-24);
  }

  .charge_deliveryAddress {
    font: var(--font-regular-13-16);
  }

  .charge_deliveryDate {
    font: var(--font-regular-13-16);
    color: var(--color-accent);
    border-bottom: 1px dashed currentColor;
  }

  .charge_tooltipWrap {
    margin-bottom: 24px;
  }

  .charge_tooltipCaption {
    width: 100%;
  }

  .charge_payment {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
  }

  .charge_paymentTitleWrap {
    display: flex;
    justify-content: space-between;
  }

  .charge_paymentTitle {
    font: var(--font-bold-16-24);
    margin-bottom: 4px;
  }

  .charge_paymentSystem {
    background-color: var(--color-smoky);
    width: 32px;
    height: 24px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
  }

  .charge_paymentNumber {
    font: var(--font-regular-13-16);
  }

  .charge_paymentData {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1400px) {
  .charge {
    width: 429px;
  }
}