@import "./variables.css";

.charge {
  padding: 8px 16px 16px 16px;
}

.chargeTitle {
  display: flex;
  justify-content: space-between;
  font: var(--font-bold-20-28);
  letter-spacing: -0.2px;
  margin-bottom: 8px;
}

.charge_caption {
  font: var(--font-regular-16-24);
  margin-bottom: 16px;
}

.charge_captionProducts, .charge_captionDiscount, .charge_captionDelivery {
  display: flex;
  justify-content: space-between;
}

.charge_tooltipWrap {
  display: flex;
  background-color: var(--color-smoky-dark);
  padding: 8px 8px 12px 8px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.charge_tooltipCaption {
  margin-left: 8px;
}

.charge_tooltipCaption {
  font: var(--font-regular-13-16);
  width: 242px;
}

.charge_tooltipCaption-underlined {
  color: var(--color-green);
  border-bottom: 1px dashed currentColor;
}

.charge_checkboxBlock {
  display: flex;
  background-color: var(--color-smoky-dark);
  padding: 8px 8px 12px 8px;
  border-radius: 8px;
  margin-bottom: 16px;
  flex-direction: column;
}

.charge_checkbox {
  appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid var(--color-rulers-input);
}

.charge_checkbox:checked {
  background-color: var(--color-accent);
  border: none;
  content: url(../images/icons/icon-checkbox.svg);
}

.charge_checkboxLabel {
  font: var(--font-regular-13-16);
  margin-left: 8px;
}

.charge_checkboxWrap {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.charge_checkboxCaption {
  font: var(--font-regular-13-16);
}

.charge_button {
  background-color: var(--color-accent);
  color: var(--color-white);
  font: var(--font-bold-16-24);
  height: 44px;
  padding: 7px 32px 12px;
  width: 100%;
  border-radius: 8px;
  margin: 8px 0 12px;
}

.charge_notificationWrap {
  display: flex;
}

.charge_notification {
  margin-left: 8px;
  font: var(--font-regular-13-16);
}

.charge_notification-underlined {
  border-bottom: 1px solid var(--color-rulers);
  font: var(--font-regular-13-16);
  color: currentColor;
}

@media screen and (min-width: 1024px) {
  .chargeWrap {
    background-color: var(--color-white);
    border-radius: 16px;
    height: fit-content;
  }
}