@import "./variables.css";

.footer_caption {
  color: rgba(255, 255, 255, 0.70);
  font: var(--font-regular-13-16);
  padding: 24px;
  text-align: center;
}

.footer {
  margin-bottom: 56px;
}

@media screen and (min-width: 1024px) {
  .footer {
    margin-bottom: 0px;
  }
}