@import "./variables.css";

.header {
  display: flex;
  justify-content: space-between;
  padding: 14px 13px;
}

.header_title {
  font: var(--font-bold-19-24);
  color: var(--color-white);
  letter-spacing: 0.1em;
}

.header_button-search {
  height: 28px;
  width: 28px;
  cursor: pointer;
}

.header_menu {
  height: 28px;
  width: 28px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_menuItem {
  display: block;
  background-color: var(--color-white);
  width: 22px;
  height: 3px;
  margin-bottom: 6px;
  border-radius: 4px;
}

.header_button-profile {
  display: none;
  cursor: pointer;
}

.header_button-basket {
  display: none;
  cursor: pointer;
}

.header_inputWrap {
  display: none;
}

@media screen and (min-width: 1024px) {
}
