@import "./reset.css";
@import "./header.css";
@import "./basket.css";
@import "./charge.css";
@import "./footer.css";
@import "./tabbar.css";

@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/segoe-ui2/SegoeUI.ttf");
}

@font-face {
  font-family: "Segoe UI Bold";
  src: url("../fonts/segoe-ui2/SegoeUI-Bold.ttf");
}

@font-face {
  font-family: "Segoe UI Italic";
  src: url("../fonts/segoe-ui2/SegoeUI-Italic.ttf");
}

@font-face {
  font-family: "Segoe UI Bold Italic";
  src: url("../fonts/segoe-ui2/SegoeUI-BoldItalic.ttf");
}

@font-face {
  font-family: "Segoe UI Semibold";
  src: url("../fonts/segoe-ui2/SegoeUI-SemiBold.ttf");
}

@font-face {
  font-family: "Segoe UI Light";
  src: url("../fonts/segoe-ui2/SegoeUI-Light.ttf");
}

body {
  background-color: var(--color-violet);
  font-family: "Segoue UI";
}

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-smoky);
  border-radius: 24px;
  padding: 15px 0px 24px;
}

@media screen and (min-width: 1024px) {
  .container {
    flex-direction: row;
  }
}
